.mat-grid-list {
  margin: 20px;
}

.mat-grid-tile {
  position: absolute;
  align-content: flex;
  margin: 10px;
}

.label {
  font-size: 15px;
  font-weight: bold;
}

.checkbox {
  margin: 3px;
}

ul {
  list-style-type: none;
  margin-top: 4px;
}

.topping-price {
  margin-left: 15px;
  font-size: 15px;
  font-weight: bold;
}
