<mat-drawer-container class="container" autosize>
    <div class="sidenav-content">
        <mat-toolbar color="primary">
            <button mat-button routerLink="/offer" >
                Offers
            </button>
            <button mat-button routerLink="/pizza" >
                Pizza
            </button>
            <span class="spacer"></span>
            <button mat-icon-button>
                <mat-icon>shopping_cart</mat-icon>
            </button>
        </mat-toolbar>
        <router-outlet></router-outlet>
    </div>        
</mat-drawer-container>