<mat-grid-list cols="1" class="mat-grid-list">
  <mat-radio-group
    aria-labelledby="radio-group-label"
    class="radio-group"
    [(ngModel)]="selectedOffer"
  >
    @for (offer of offers; track offer) {
    <mat-radio-button
      class="radio-button"
      (change)="onOfferSelection(offer)"
      [value]="offer"
    >
      {{ offer.description
      }}<span class="offer-price">${{ offer.price | number : "1.1-2" }}</span>
    </mat-radio-button>
    }
  </mat-radio-group>
</mat-grid-list>
